// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


body{
    background-color: black !important;
    color:white;
    display:flex;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

/* layout przy telefonie */
@media screen and (max-width: 599px) {
    .panel-container{
        position:absolute;
        width: 200px;
        left:-200px;
        top:0;
    }
    .main-container .game-container{
        height: 100vh;
        width: 100vw;
    }
        
    .main-container .log-container{
        position:absolute;
        height: 100px;
        width: 100%;
        left:0;
        bottom: -100px;
    }
}

/* layout przy komputerze */
@media screen and (min-width: 600px) {
    .panel-container{
        height: 100vh;
        min-width:200px;
        width: 20vw;
    }
    .main-container .game-container{
        height: 80vh;
        width: 100%;
    }
        
    .main-container .log-container{
        height: 20vh;
    }
}

/* layout stałe elementy */
.main-container{
    width:100%;
}

.panel-container{
    padding:10px;
    background-color: rgba(255,120,120, .3);
}

.game-container{
    padding:10px;
    background-color: rgba(120,255,120, .3);
}
.log-container{
    padding: 10px;
    background-color: rgba(255,255,255, .2);
}


.menu-element {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-bottom: 10px;
    padding-left:5px;
    padding-right:5px;
    background-color: black;
    color:lightgray;
    width:100%;
    height:50px;
    transition-duration: 500ms;
}

.menu-element:hover {
    background-color: grey;
    color:black;
    height:60px;
}