<template>
  <div>
    <home-component v-if="id == 'home'" :key="id"></home-component>
    <shop-component v-if="id == 'shop'" :key="id"></shop-component>
    <fight-component v-if="id == 'fight'" :key="id"></fight-component>
  </div>
</template>

<script>

import { EventBus } from "./event-bus";
import FightComponent from './menu-views/FightComponent.vue';
import HomeComponent from "./menu-views/HomeComponent.vue";
import ShopComponent from "./menu-views/ShopComponent.vue";

export default {
  components: {
    HomeComponent,
    ShopComponent,
    FightComponent,
  },
  created(){
    var that = this;
    EventBus.$on("change-view", function (name) {
    that.id = name;
    console.log(`view changed to:` + that.id);
    });
  },
  data() {
    return { id: "home" };
  },
  mounted() {
    console.log("Main mounted.");
  },
};
</script>
