<template>
    <div>
        LOGO
        <div class="menu-element" @click='changeview("home")'>Home</div>
        <div class="menu-element" @click='changeview("shop")'>Shop</div>
        <div class="menu-element" @click='changeview("fight")'>Fight</div>
    </div>
</template>

<script>
    import { EventBus } from './event-bus.js';
    export default {
        mounted() {
            console.log('Menu mounted.');
        },
        methods: {
            changeview(name){
                EventBus.$emit("change-view", name);
            }
        }
    }
</script>
