<template>
    <div class="container">
        Fight
    </div>
</template>

<script>
  import tile from '../../tileController.js';

    export default {
        created(){
            var board = new Array(8).fill(new Array(8));
            for(var x = 0; x<=7; x++){
                for(var y = 0; y<=7; y++){
                    board[x][y] = new tile(x,y);
                    console.log("x: " + x + ", " + board[x][y].posx + " " + "y: " + y + ", " + board[x][y].posy);
                }
            }
            console.log("tile posx: " + board[3][3].posx); 
            console.log("tile posx: " + board); 
        },
        mounted() {
            console.log('Fight mounted.')
        }
    }
</script>
