<template>
    <div class="container">
        Roll for todays item!
        <button v-on:click="rollitem()">Roll</button>
        Choose quest:
    </div>
</template>

<script>
//   import Questline from '../../questlineController.js';
//   import Quest from '../../questController.js';
    export default {
        mounted() {
            console.log('Home mounted.');

            // var questlines = new Array;
            // questlines.push(new Questline([new Quest("name of quest 1")]));
            // console.log(questlines.list[0].name);
        },
        methods:{
         rollitem(){
             console.log("item rolled");
         }   
        }
    }
</script>
