<template>
    <div class="container">
        This is Shop
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Shop mounted.')
        }
    }
</script>
